footer{
    background-color:#803E38 ;
    justify-content: center;

    text{
        opacity: 1;
        color: #FFFFFF ;
        font-size: 12px;
        font-family: Playfair Display;
        text-align: left;
    }
}