header{
    display: flex;
    
    nav {
        flex:1;
        background: #803E38 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;

        ul{
            list-style: none;
            padding: 0;
            margin:0;
           
            li{
                display: inline-block;
                font-family: Barlow;
                line-height: 25px;
                word-spacing: 25px;
                
                
                
                a{
                    position:relative;
                    display: inline-block;
                    font-size: 20px;
                    color: #D1C1A5;
                    letter-spacing: 0px;
                    word-spacing: normal;
                    text-align: center;
                    font: normal normal normal 20px/25px Barlow;
                    padding: 30px;
                    text-decoration: none;
                    transition: 0.3s;
                   
                    
               }
            
            &.active{
                a{
                    color:white;
                }
            }

          
    
            
             
            }
        }

    }
}

$logopic: "/assets/image-asset.png";
.logo{
   display: inline-block;
   top: 10px;
   left: 878px;
   width: 165px;
   height: 93px;
  margin-left: 80px;
  margin-right: 80px;
  
    background: transparent url($logopic)  0% 0% no-repeat padding-box;
    opacity: 1;
    
    }
a:hover{
    color: white;
    

}









