
 
$backgroundpic:"/assets/920.png";
$arrow-back: "/assets/arrowback.png";

.custom-div{
   
    opacity: 1;
    background: url($backgroundpic) 0% 0% no-repeat padding-box;
    background-size: cover;
   

}
.my-container{
    max-width: 1134px;
   
    margin:auto;
    position: relative;
    
    
}
.home-div{
    display: block;
    padding: 150px 0px;
    width: 100%;
    text-align: left;
   
    .border-div{
        border: 1px solid #483224;
        display: inline-block;
        
        

        .inside-border-div{
        background-color: #483224;
        border-radius:  20px 0 20px 0px;
        transition: border-radius 0;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        

            .button-link{
                text-align: center;
                display: inline-block;
                 a{
                     font: normal normal normal 16px/26px Barlow;
                    text-decoration: none;
                    letter-spacing: 0px;
                    opacity: 1;
                    color: #FFFFFF;
                    padding: 25px 15px;
                    
                    
                    }
            }          
       

        }

        &:hover{
            border-color: #803E38;

            .inside-border-div{
            background-color: #803E38;
            border-radius: 0;
            }
        }
    }
   
    
}
.bar-div{
    
    justify-content: center;
    text-align: center;
    padding: 140px;
    
    

    .first-circle{

        border: 1px solid;
        border-radius: 100%;
        color: white;
        display: inline-block;
        position:relative;
        width: 30px;
        height: 30px;
        transition-delay: 0.3s;
        transition-timing-function: ease-out;

        &:hover{
             background-color: #D1C1A5;
        }


    }

    .line{
        display: inline-block;
        background-color: #FFFFFF;
        opacity: 0.2;
        max-width: 500px;
        max-height: 3px;
       

        
            
            
           
            a{
             font: normal normal normal 18px/25px Prata;
             letter-spacing: 0px;
             text-align: left;
             opacity: 1;
             color: #FFFFFF;
             word-spacing: 30px;
            
            }
        
        
    }

    

   
}
.btndiv{
    border: 1px solid #483224;  
    
}
.custom-text-1{
  
   text-align: left;
    font: normal normal normal 50px/60px Cookie;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
   
    
    
}
.custom-text-2{
    
    text-align: left;
    font: normal normal normal 70px/80px Prata;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    max-width:552px ;
}
button{
  
    display: flex;
    background-color: #483224;
    opacity: 1;
    border-radius: 10px 0px 10px 0px;
    font-family: Barlow;
    font-size: 12px;
    color: #D1C1A5;
    text-align: center;
    transition: border-radius 0px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    
    
}
button:hover{
    border-radius: 0px;
    background-color: #803E38;
    border-color: #803E38;
}

.custom-div2{
    
    position: absolute;
    transform: matrix(0.91, -0.41, 0.41, 0.91, 0, 0);
   
    filter: blur(5px);
    padding: 70px;
   
    
}
$leaf1: "/assets/3.png";
.custom-leaf{
    position: absolute;
    transform: matrix(0.54, -0.84, 0.84, 0.54, 0, 0);
    background: transparent url($leaf1) 0% 0% no-repeat padding-box;
    opacity: 1;
    filter: blur(5px);
    padding: 90px;
    
    
   

    

}

.flower-one{
    position: absolute;
    filter: blur(5px);
}
.flower-two{
    
    position:absolute;
    filter: blur(5px);
    transform: matrix(-0.91, -0.41, 0.41, -0.91, 0, 0);
    
    
}
.flower-three{
    position: absolute;
    display: inline-block;
    filter: blur(4px);
    left:23%;
}
.leaf-one{
    position: absolute;
    display: inline-block;
    filter: blur(5px);
    opacity: 100%;
    top:70%;
    
}




