.divcustom{
    
    background-color: #D1C1A1;
    
    

    text{
        text-align: center;
        font-family: Prata;
        letter-spacing:0 px;
        color: #FFFFFF;
        opacity: 1;
        font-weight: bold;
        font-size: 45px;
        padding: 30px;
    }

    .textcustom{
        text-align: center;
        font-family:  Prata;
        letter-spacing: 0px;
        color: #803E38;
        opacity: 1;
        
        font-size: 16px;
    }
}
