.divcustom{
    
    background-color: #D1C1A1;
    
    
    .container{

            justify-content: center;
            
            text-align: center;
    .divcustom2{

            display: inline-block;
            padding: 30px;
            justify-content: center;
            
            
    
    

    text{
        text-align: center ;
        font-family: Prata;
        letter-spacing:0 px;
        color: #FFFFFF;
        opacity: 1;
        font-weight: bold;
        font-size: 30px;
        padding: 30px;
        line-height: 45px;
        
        
    }

    .textcustom{
        text-align: center;
        font-family:  Prata;
        letter-spacing: 0px;
        color: #803E38;
        opacity: 1;
        line-height:26px ;
        font-size: 16px;
        margin-top: 15px;
        
        
    }

    .border-div{
        border: 1px solid #483224;
        display: inline-block;
        
        

        .inside-border-div{
        background-color: #483224;
        border-radius:  20px 0 20px 0px;
        transition: border-radius 0;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        

            .button-link{
                text-align: center;
                display: inline-block;
                 a{
                     font: normal normal normal 16px/26px Barlow;
                    text-decoration: none;
                    letter-spacing: 0px;
                    opacity: 1;
                    color: #FFFFFF;
                    padding: 25px 15px;
                    
                    
                    }
            }          
       

        }

        &:hover{
            border-color: #803E38;

            .inside-border-div{
            background-color: #803E38;
            border-radius: 0;
            }
        }
    }

    }

    }
}


.flower-div{
    display: inline-block;
    position: absolute;
    opacity: 1;
    filter: blur(5px);
    padding-top: 90px;
    background: transparent 0% 0% no-repeat padding-box;
    
}
.custom-leaf-one{
    display: inline-block;
    padding: 20px 100px;
    position: absolute;
    opacity: 1;
    filter: blur(5px);
    background: transparent 0% 0% no-repeat padding-box;
}
.custom-leaf-two{
    display: block;
    position: absolute;
    padding: 20px 195px;
    
    opacity: 1;
    filter: blur(5px);
    background: transparent 0% 0% no-repeat padding-box;

   
}

