
.whitediv{

   
    background-color:#ffffff;
    justify-content: center;
   

    .inside-white-div{
        display: inline-block;
        padding: 50px;
      
        
        

        .linediv1{
            border: 1px solid;
            border-color: #803E38;
            display:block;
            max-width: 192px;
            padding:0px;
            position: relative;
            opacity: 100%;
            
        }

        .sadona-text{
            font-family: Prata ;
            font-size: 30px;
            text-align: center;
            color: #803E38;
            font-weight: lighter;
            letter-spacing: 0px;
            padding: 20px;
        }
        .sadona-text2{
            font-family: Barlow;
            font-size: 16px ;
            text-align: center;
            opacity: 100%;
            letter-spacing: 0px;
            color: #483224;
            
        }

       
    }

    
}
.borderdiv2{
    border: 1px solid #803E38;
    display: inline-block;

    
    
}
.my-button{
    display: inline-flex;
    background-color: #483224;
    opacity: 1;
    border-radius: 10px 0px 10px 0px;
    font-family: Barlow;
    color: #D1C1A5;
    text-align: center;
    transition: border-radius 0px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

    
}
.my-button:hover{

                    
        border-radius: 0px;
        background-color: #803E38;
        border-color: #803E38;
    

}



